$pe-7s-font-path: "~pe7-icon/dist/fonts" !default;
@import 'base/new_variables';
@import 'base/variables';
@import 'base/mixins';
@import 'base/navbar';
//@import "~pe7-icon/dist/scss/pe-icon-7-stroke.scss";
@import 'base/chartist';
//@import "~chartist/dist/scss/chartist.scss";
// @import 'base/sidebar';
@import 'base/card';
@import 'base/todos';
@import 'base/checkbox-radio-switch'; 
@import 'base/footer';
@import 'base/buttons';
@import 'base/pagination';
@import 'base/social-buttons';
@import 'base/icons';
@import 'base/panels';
@import 'base/typography';
@import 'base/form';
@import 'base/tags';
@import 'react-dates/styles';
@import 'settings';
// @import "css/fonts/pe-icon-7-stroke.scss";
// @import 'css/bootstrap';
// @import 'css/demo';
//@import 'css/gaia';

html, body {
  font-size: 14px;
}

.places-buttons .btn {
  margin-bottom: 30px;
}

.rbc-calendar {
  .rbc-toolbar .rbc-toolbar-label {
    font-size: 22px;
  }
  .rbc-toolbar {
    margin-bottom: 25px;
  }
  .rbc-toolbar button {
    @include btn-styles($primary-bg, $primary-states-color);
    &.rbc-active,
    &.rbc-active:hover,
    &:active,
    &:focus,
    &:hover,
    &:active:hover {
      background-color: lighten($primary-bg, 25%);
      border-color: $primary-bg;
    }
  }
  .rbc-month-row {
    min-height: 100px;
  }
  .rbc-row-segment {
    padding: 2px;
    .rbc-event {
      background: $primary-bg;
    }
    .rbc-event.rbc-selected {
      background: darken($primary-bg, 5);
    }
    .rbc-event-content {
      font-size: 12px;
    }

  }
  .rbc-time-view,
  .rbc-month-view,
  .rbc-agenda-view {
    border-radius: 3px;
  }
}

.ct-chart-line .ct-label, .ct-chart-bar .ct-label {
  font-size: 1rem;
}

.react-bs-table {
  .table {
    margin-bottom: 0;
  }
}
// style amit kumar mishra 2-6-2020
.heading-color {
    color: #000000d1;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 300;
}
.custom-left{
  text-align:center;
}
.black-color{
  color:#333333;
  font-size:20px;
  text-align:center;
}
.upload_file .upload_icon .fa-cloud-upload{
  font-size: 67px;
  top: 63%;
}
.home_banner{
  height:auto;
  position:relative;
  .home_bg{
  img{
    width:100%;
  }
}
}
.shadow_box.p-5.custom-form-home {
    position: absolute;
    right: 30px;
    width: 33%;
    box-shadow: 1px 1px 4px 2px #00000029;
}
header {
    box-shadow: -2px 2px 3px 0px #00000029;
    background: #fff;
    margin-bottom: -15px;
    position: relative;
    z-index: 99999999999;
}
video.video-fluid.z-depth-1 {
  width: 100%;
  border-radius: 10px;
}
.quction {
  height: 161px;
  overflow-x: auto;
  line-height: 1.9;
  .form-group {
    margin: 0;
    padding: 0;
  }
  
  .quction-select {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    top: -9px;
    width: 100%;
  }
  
  button.closeName {
    font-size: 33px;
    border: transparent;
    padding: 0;
    color: #ff4a55;
    background: transparent;
    line-height: 1;
    padding-left: 17px;
  }
  
  .radio_primary.radio {
    margin: 0;
    padding: 0;
  }
  
  .multipal-quction {
    position: relative;
    padding-top: 20px;
  }
}
.quction-select lable {
  margin: 0;
  padding: 0;
}

