.media-body {
  width: auto;
}

//media type one

.qb-content--wrapper {
  .media {
    display: flex;
    align-items: center;
  }
  .media-left {
    padding-right: 0;
    .icon {
      position: relative;
      top: 2px;
      font-size: 43px;
    }
  }
  .media-heading {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 3px;
    font-size: 1.5em;
  }
  .media-body {
    padding-bottom: 0;
    margin-left: 5px;
    p {
      margin-bottom: 0;
    }
  }
}