.card {
  border: 1px solid $light-gray;
  border-radius: 0;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.1);
  .card_head{
    padding: 20px;
    border-bottom: 1px solid $medium-gray;
    h4{
      margin: 0;
    }
  }
  .card_body{
    padding: 20px;
  }
  .card_footer{
    padding: 20px;
    text-align: right;
    border-top: 1px solid $medium-gray;
  }
}