.breadcrumb{
  padding: 25px 0;
  background: transparent;
  margin-bottom: 0;
  li{
    font-size: 17px;
    color: $primary-color;
  }
}

input[type='file']{
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus{
    outline: 0;
  }
}

.img_viewer{
  position: relative;
  height: 130px;
  width: 130px;
  display: inline-block;
  overflow: hidden;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid $success-states-color;
  }  
  .edit_icon{
    position: absolute;
    background: $white-color;
    width: 30px;
    height: 30px;
    overflow: hidden;
    bottom: 15px;
    right: 0;
    z-index: 1;
    border: 2px solid $success-states-color;
    border-radius: 100%;    
    .icon-camera{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 18px;
      color: $success-states-color;
      pointer-events: none;
    }
  }
}
.upload_file{
  text-align: center;
  .upload_icon{
    position: relative;
    display: inline-block;
    height: 130px;
    width: 130px;
    .fa-cloud-upload{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
      pointer-events: none;
      color: $primary-color;
    }
  }
}

.modal-file-upload-box{
    width: 160px;
    height: 160px;
    border-radius: 0;
    border: 1px solid #ced8e2;
    color: #788ca0;
    position: relative;
    background-color: $white-bg;
    border-color: $medium-gray;
    margin-bottom: 1.5rem;
    flex-direction: column;
    input[type='file']{
      position: absolute;
    }
    .addProfileWrapper{
      .hover-section{
        transition: ease-in, 0.2s;
        flex-wrap: wrap;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff !important;
        font-size: 1.4em;
        z-index: 10;
        left: 0;
        top: 0;
        .icon{
          color: #fff;
          font-size: 1.5em;
        }
      }
      &:hover{
        .hover-section{
          max-height: 500px;
          visibility: visible;
          opacity: 1;
        }        
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
}

.features_listing{
  border: 1px solid $medium-gray;
  li{
    padding: 15px;
    border-bottom: 1px solid $medium-gray;
    &:hover{
      background: #f7f7f7;
    }
    &:last-child{
      border: 0;
    }
  }
}

.object-fit-cover {
  object-fit: cover;
}

.border-line {
  height: 2px;
  width: 100%;
  background-color: $default-gray;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $gray-lightest;
  //border: 1px solid $gray;
  border-bottom: 0;
}

.default-icon {
  background-color: $profile-pic-default-bg;
  width: 100%;
  font-size: 2em;
  color: $icon-color-default;
  &.flat {
    border-radius: 0;
  }
}

.well {
  background-image: none !important;
  border-radius: 0 !important;
  padding: 3 * $gutter-space;
  border: 0;
  box-shadow: none !important;
}

.light-bg {
  background-color: $white;
}

.relative--box {
  position: relative;
}

.thumbnail--img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: $gutter-space/2;
  border: 1px solid $gray-lighter;
  img,
  .pp-default.small {
    width: 100%;
    height: 100%;
  }
  &.circle {
    border-radius: 100%;
    border: 1px solid $gray-light;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .pp-default.small {
    font-size: 2.5em;
    background-color: $profile-pic-default-bg;
  }
}

/* Chrome/Safari and web-kit-based browsers
   (if it doesn't work, try maybe also on the parent/wrapper)
*/
::-webkit-file-upload-button {
  cursor: pointer;
}

.show-more {
  @extend %show-more;
  &:hover {
    background-color: darken($white, 2%);
  }
}

.logo {
  width: 190px;
  height: 100%;
  margin-top: 10px;
  background-image: url(../img/logo-white1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  margin-left: 0;
  @media (max-width: $breakpoint-mobile) {
    margin-left: 10px;
  }
}
